@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #2595be17;
}

a, p {
    font-size: 18px;
}

html {
    scroll-behavior: smooth;
}

/* navbar */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 20px 50px;
}

.header > img {
    height: 60px;

}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

ul li > a {
    color: #2595beb2;
}

ul li > a:hover {
    color: #2596be;
}



/* main container */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    background-image: url(img/dog-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 600px;
    padding: 0 50px;
}

.banner > p {
    font-family: 'Lilita One', cursive;
    font-size: 60px;
}

.banner > p> span {
    font-family: 'Lilita One', cursive;
    color: #2596be;
}

#about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 90px auto;
    max-width: 800px;
}

#about-text > h1 {
    font-family: 'Lilita One', cursive;
    font-size: 60px;
    text-transform: capitalize;
    color: #2596be;
}

#about-text > p {
    text-align: center;
    margin-top: 20px;
}

.about-data {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 200px;
    margin: 20px auto;
    font-size: 17px;
}

.about-data > p > span {
    font-family: 'Lilita One', cursive;
    font-size: 50px;
    color: #2596be;
}

#animals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 90px auto;
}


#animals > h1 {
    font-family: 'Lilita One', cursive;
    font-size: 60px;
    text-transform: capitalize;
    color: #2596be;
}

#animals > p {
    margin-top: 20px;
    margin-bottom: 100px;
}

.find-friend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.animal-infos {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border-radius: 10px;
    width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.animal-infos > img {
    max-width: 280px;
    min-width: 280px;
    max-height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.animal-infos > .infos-text > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #2596be;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 30px;
}

.animal-infos > .infos-text > h1:hover {
    color: rgb(255, 181, 84);
}

.animal-infos > .infos-text > p {
    color: darkgray;
    margin: 20;
    align-self: flex-start;
    margin-left: 20px;
    margin-bottom: 60px;
    margin-top: -10px;
}

/* footer */

.footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    background-color: #2596be;
    height: 100px;
}

.social-media > a {
    margin: 10px;
    color: rgb(212, 208, 208);
    font-size: 30px;
}

.social-media > a:hover {
    color: white;
}

.others {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.others > a {
    color: rgb(212, 208, 208);
    font-size: 17px;
}

.others > a:hover {
    color: white;
}
